* {
	font-family: arial;
	font-size: 18px;
}

p + p + p {
	color: yellow;
}

h1 {
	font-size: 3rem;
}

#things-to-learn {
	text-transform: uppercase;
}

.languages {
	background-color: darkseagreen;
}

li[value] {
	border: 2px solid lightslategray;
}

img + ul {
	list-style-type: none;
}

section img {
	width: 100px;
	height: 100px;
	border-radius: 50%;

}

img ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 8px;
}